html,
body {
  font-size: 16px;
}

/** add smooth scroll behaviour */
html,
html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  min-height: 100vh;
  letter-spacing: 0.2px;
  direction: ltr;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (prefers-reduced-motion: reduce) {
  html,
  html:focus-within {
    scroll-behavior: smooth;
  }
}
/** END add smooth scroll behaviour */
